<div class="container">
    <div class="box-heading">
        ユーザ情報の編集
    </div>
    <div class="box-body cp_form">
        <%= form_tag("/update") do %>
            <div class="form-group">
                <label>パスワード</label>
                <input type="password" name ="password" value="<%= @password %>" required class="form-control bootstrap-form">
            </div>
            <% if @current_user.role != "admin" %>
            <div class="form-group">
                <label>メールアドレス</label>
                <input type="email" name ="mail" value="<%= @mail %>" required class="form-control bootstrap-form">
            </div>
            <% end %>
            <input type="submit" value="更新" class="cp_btn">
        <% end %>
    </div>
</div>