/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * requireは使わない
 * 使う場合は*の後に=
 * require_tree .
 * require_self
 *
 *= require jquery-ui
 */

// Bootstrap Sass
@import "bootstrap-sprockets";
@import "bootstrap";
@import "partials/*"; // glob importing


/* universal */
body {
    font-family: 'jp';
    background-color: #ffffff;
}
.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

.main{
    position: absolute;
    width: 100%;
    //height: auto;
    min-height: 100%;
}
.container{
    max-width: 900px;
    margin: 30px auto;
    padding-left: 30px;
    padding-right: 30px;
    clear: both;
}
.box-heading{
    font-weight: 300;
    margin: 20px 0 20px;
    font-size: 48px;
    color: #EC407A;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 2.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

.alt-table-responsive {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}