<div class="container">
    <div class="box-heading">
        Infomation
    </div>
    <div class="box-body cp_form">
        name : <%= @current_user.name %>さん
        <br/>
        role : <%= @current_user.role %>

        <% if @current_user.role = "student" %>
        <!-- 学生の表示内容 -->

        <% elsif @current_user.role = "teacher" %>
        <!-- 教員の表示内容 -->

        <% else %>
        <!-- adminの表示内容 -->

        <% end %>
    </div>
</div>